.post-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  .creation-input{

    width: 100%;
    display: flex;
    justify-content: center;

    .MuiFormControl-root.MuiTextField-root{
      width: 400px;
    }
    margin-bottom: 25px;
    .send-button{
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 20px;
    }
  }
  .body{
    overflow-y: auto;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }
}