.post-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
  .creation-input{

  }
  .body{
    overflow-y: auto;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }
}