.user-profile{
  display: flex;
  height: 100%;

  .profile-column{
    padding: 20px;
    width: 250px;
    .profile-img{
      margin-top: 20px;
      height: 100px;
    }

    .additional-info{
      margin-top: 20px;
    }
  }
  .profile-data-column{
    width: 100%;
    padding: 20px;
    .title{

    }
  }
}