.profile-post-card{
    display: flex;
    align-items: center;
    width: calc(100% - 20px);
    padding: 5px 10px;
    justify-content: space-between;
    .MuiChip-label{
        display: flex;
        cursor: pointer;
    }
}
.post-card{
    display: flex;
    align-items: center;
    width: calc(100% - 20px);
    padding: 5px 10px;
    p {
        margin-left: 20px;
    }
    .avatar{
        cursor: pointer;
    }
    .avatar-info{
        display: flex;
        width: 90%;
    }
}